<div
  class="
    search-curriculum-page max-w-7xl mx-auto bg-indigo-50 border border-gray-200
    rounded-xl shadow p-6
  "
>
  <!-- Header -->
  <div class="w-full">
    <div class="flex items-start justify-between mb-6">
      <div class="pr-6">
        <h2 class="text-2xl font-semibold mb-2">Workshops (<%= @workshops_count %>)</h2>
        <p class="text-gray-700">
          Search by emotional theme, materials needed, ease of set-up, and more.
          <br>
          We encourage Windows Facilitator creativity and innovation. If you adapt and improve workshops, please
          <%= link_to "share your ideas with us", new_workshop_variation_path, class: "text-blue-500" %>!
        </p>
      </div>
      <% if current_user.super_user? %>
        <%= link_to "New workshop",
                    new_workshop_path,
                    class: "admin-only bg-blue-100 btn btn-primary-outline" %>
      <% end %>
    </div>
  </div>

  <!-- Divider -->
  <div class="w-full"><hr class="border-gray-300 mb-6"></div>

  <!-- Search Form -->
  <div class="w-full">
    <%= form_tag(workshops_path, method: :get,
                 data: {turbo_stream: true, turbo_frame: "frame_list",
                        controller: "collection share-url"}, class: "space-y-6") do %>
      <%= render "filters" %>
      <div><hr class="border-gray-300 my-6"></div>

      <div class="mt-6"><%= render "filters_applied" %></div>

      <div><hr class="border-gray-300 my-6"></div>

      <!-- Sort Options -->
      <div class="flex flex-wrap items-center gap-x-4 gap-y-2 font-medium">
        <h3 class="text-sm font-semibold uppercase text-gray-500 tracking-wide">
          Sort by
        </h3>
        <%= render "sort_by_options" %>
      </div>

      <%= render "workshops_count" %>
    <% end %>

    <!-- Workshops List -->
    <%= turbo_frame_tag "frame_list" do %>
      <%= turbo_stream.replace("filters_applied", partial: "filters_applied") %>
      <%= turbo_stream.replace("workshops_count", partial: "workshops_count") %>
      <%= turbo_stream.replace("copy_url", partial: "copy_url") %>
      <div class="mt-6">
        <% if @workshops.any? %>
          <div id="workshops-list" class="space-y-4 animate-fade">
            <% @workshops.each do |workshop| %>
              <%= render "workshops/index_row", workshop: workshop.decorate,
                         breadcrumb: "Workshops", link_route: workshop_path(workshop) %>
            <% end %>
          </div>

          <div class="pagination flex justify-center mt-12">
            <%= tailwind_paginate @workshops %>
          </div>
        <% else %>
          <p class="text-gray-600">
            Your search returned no results. Please try again.
          </p>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
