<tr>
  <td>
    <div class="row">
      <div class="col-sm-2 resource-img">
        <a href="<%= resource_path(resource) %>">
          <img src="<%= resource.main_image_url %>"
               alt="<%= resource.title.truncate(25) %>"
               style="height: 1.2em; width: auto; border-radius: 4px;">
        </a>

      </div>
      <div class="col-sm-10">
        <%= link_to resource.title.titleize, resource_path(resource), style: "text-decoration: none; color: black;" %>
        <span class="pull-right">
          <% unless resource.attachments.empty? %>
            <a href="<%= resource_download_path(resource) %>"
               style="text-decoration: none;">
              <i class="fa fa-download" aria-hidden="true"></i>
              Download File
            </a>
          <% end %>
        </span>
      </div>
    </div>
  </td>
</tr>
